@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  height: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 88px 1fr auto;
}

.section-container {
  @apply max-w-[1350px] w-11/12 mx-auto;
}

/* for testing */
.border {
  border: 1px solid blue;
}

/* dropdown menu */

.container p {
  color: black;
  font-size: 1.4rem;
  text-align: center;
}

select {
  border: 1px solid #8f8f8f;
  padding: 3px 3px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  cursor: pointer;
}

select:focus,
select:hover {
  outline: none;
}



.descripcion-cell{
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
  text-overflow: ellipsis;
}

/* styles for loader */

.loader {
  height: 0;
  width: 0;
  padding: 20px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
